<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <article class="footer-data">
                <i class="fas fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>En D&I SHOES, tenés cuotas sin interés con tarjeta o efectivo en diferentes sucursales. ¡Siempre buscamos lo mejor para vos!</p>
            </article>
        </div>
        <div class="col-12 col-lg-4">
            <article class="footer-data">
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $ 5.000</h2>
                <p>Solo por estar registrado en D&I SHOES tenés envíos gratis en miles de productos. Es un
                    beneficio que no podés desaprovechar.</p>
            </article>
        </div>
        <div class="col-12 col-lg-4">
            <article class="footer-data">
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En D&I SHOES ofrecemos un período de 48hs para realizar cambios siempre y cuando los artículos se encuentren en las mismas condiciones que cuando fueron comprados. </p>
            </article>
        </div>
            <div class="box-copyright">
                <hr>
                <p class="derechos">Todos los derechos reservados <i class="far fa-copyright"></i> 2022 • <b>D&I SHOES</b> •</p>
            </div>
    </div>
</div>