<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include("./partials/head") %> 
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header') %> 
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">• Ingresar •</h2>
			</div>


	<!--Formulario de login  -->

			<form class="form-register" action="/users/profileedit" method="get">
				<div>
					<label>Usuario:</label>
					<input type="email" name="email" value="" required>
				</div>
				<div>
					<label>Contraseña:</label>
					<input type="password" name="contraseña" value="" required>
				</div>
				<div>
					<label>Recordarme</label>
					<input type="checkbox" name="recordarme" value="">
				</div>
				<button type="submit">Enviar</button>
			</form>
			<!-- Show the "ultimos" products -->
			<!-- <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de login. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2> -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->
</body>

</html>