<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include("./partials/head") %> 
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/headerLogueado') %>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">• Editar mi perfil •</h2>
			</div>


	<!--Formulario de edicion de datos de perfil  -->
			<main class="main-registro">
				<div class="div-registro">
					<form class="form-register" action="/users/profileedit/profileStore" method="POST" enctype="multipart/form-data">
						<div>
							<label> Editar Nombre: </label>
							<input type="text" name="name" value="">
						</div>
						<div>
							<label> Editar Apellido:</label>
							<input type="text" name="surname" value="">
						</div>
						<div>
							<label>Editar Email:</label>
							<input type="email" name="email" value="">
						</div>
						<div>
							<label>Editar Contraseña:</label>
							<input type="text" name="password" value="">
						</div>
						<div>
							<label>Editar Fecha de Nacimiento:</label>
							<input type="date" name="birth_date" value="">
						</div>
						<div>
							<label>Editar Número de Documento:</label>
							<input type="number" name="document" value="">
						</div>
						<div>
							<label>Cambiar Foto de Perfil:</label>
							<input type="file" name="avatar" value="">
						</div>
						<button type="submit">Enviar</button>
					</form>
				</div>
			</main>
	<!--Formulario de edicion de datos de perfil  -->	


		</div>	
	</div>	

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->
</body>

</html>