<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include("./partials/head") %> 
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/headerLogueado') %> 
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">• Editar mi perfil •</h2>
			</div>


	<!--Formulario de edicion de datos de perfil  -->
			<main class="main-registro">
				<div class="div-registro">
					<form class="form-register" action="/users/profile" method="get">
						<div>
							<label> Cambiar Email:</label>
							<input type="email" name="email" value="">
						</div>
						<div>
							<label>Cambiar Usuario:</label>
							<input type="text" name="usuario" value="">
						</div>
						<div>
							<label>Cambiar Contraseña:</label>
							<input type="password" name="contraseña" value="">
						</div>
						<div>
							<label>Cambiar Fecha de Nacimiento:</label>
							<input type="date" name="fecha" value="">
						</div>
						<div>
							<label>Cambiar Número de Documento:</label>
							<input type="number" name="documento" value="">
						</div>
						<div>
							<label>Cambiar Foto de Perfil:</label>
							<input type="file" name="foto" value="">
						</div>
						<button type="submit">Enviar</button>
					</form>
				</div>
			</main>
	<!--Formulario de edicion de datos de perfil  -->	


		</div>	
	</div>	

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->
</body>

</html>