<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include("./partials/head") %> 
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header') %> 
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">• Registrate •</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<!-- Formulario de Registro -->
	<main class="main-registro">
		<div class="div-registro">
			<form class="form-register" action="/users/login" method="get">
				<div>
					<label>Email:</label>
					<input type="email" name="email" value="" required>
				</div>
				<div>
					<label>Usuario:</label>
					<input type="text" name="usuario" value="" required>
				</div>
				<div>
					<label>Contraseña:</label>
					<input type="password" name="contraseña" value="" required>
				</div>
				<div>
					<label>Fecha de Nacimiento:</label>
					<input type="date" name="fecha" value="" required>
				</div>
				<div>
					<label>Número de Documento:</label>
					<input type="text" name="documento" value="" required>
				</div>
				<div>
					<label>Foto de Perfil:</label>
					<input type="file" name="foto" value="" required>
				</div>
				<div class="terminos-registro">
                    <label for="Terminos">Acepto terminos y condiciones</label>
                    <input type="checkbox" name="Terminos" value="Acepto" >                 
                </div>
				<button type="submit">Enviar</button>
			</form>
		</div>
	</main>
			<!-- <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de registro. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2> -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %> 
	</footer>
	<!-- /footer -->
</body>

</html>